@charset "utf-8";

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav a {
	display: block;
	width: 10em;
}
#nav a:link{
	color: #000;
}
#nav a:visited{
	background: #0F0;
	color: #000;
}
#nav a:hover {
	background:#CF6;
}

#nav li {
	background:#CF0;
	float: left;
	width: 10em;
}
#nav li ul {
	background:#CFF;
	position: absolute;
	width: 10em;
	left: -999em;
}

#nav li:hover ul {
	
	left: auto;
}