@charset "utf-8";
/* CSS Document */

@media print{
	#header{
		display: none;
	}
	#menu{
		display: none;
	}
	#footer{
		display: none;
	}
	#content{
		background-color: #fff;
		margin: 0;
	}
}

img{
	width:100%;
}
.search{
	width:100%;
}
#content{
	margin:0 10%;
	padding: 0 1em;
	font-size: 0.9em; 
	line-height: 1.231;
	font-family: sans-serif; 
	color: #000;
	background-color: #e6f0fd;
	
	
}
#header{
	
	background-size:contain;
	background-image:url('header2.png');
	background-repeat:repeat-x;
	min-height: 5em;
	margin: 0 -1em;
	clear:both;
	
}
#page_name{
	
	margin-left: 1em;
	float: left;
	background-color: transparent;
}

#page_name h1{
	color: white;
	text-shadow: 0 0 3px #000;
}

#login{

	margin-right:1em;
	text-align:right;
	float:right;
	background-color: transparent;
	
}

a{
	text-decoration:none;
}
a:link,a:visited{
	color:#000;
}
a:hover{
	color:#444;
}

	
#main{
	padding:0.5em 0 0;
	clear: both;
}

#main p{
	text-align: justify;
}


#menu ul {
	background:#dae8f9;
	padding: 0;
	margin: 0 -1em;
	list-style: none;
	position: relative;
	clear: both;
}

#menu ul:after{
	content: "";
	clear: both;
	display: block;
}

#menu ul ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	display: none;
}

#menu ul ul li {
	border: none;
	outline: solid;
	outline-width: thin;
	float: none;
	position: relative;
	min-width: 100%;
}

#menu ul ul li a {
	color: #000;
}

#menu ul ul li a:hover {
	/*background-color: #88b3e8;*/
}

#menu ul li:hover > ul {
	display: block;
	min-width: 20%
}

#menu ul li {
	padding: 0.5em 0;
	border-style: double none;
	float: left;
	min-width: 20%;
}

#menu ul li:hover {
	background:#88b3e8;
}

#menu ul li:hover > a{
	color: #fff;
}

#menu ul li a {
	padding-left: 1em;
	text-decoration:none;
	display: block;
	min-width: 20%;
}