@charset "utf-8";
/* CSS Document */

@media print{
	#header{
		display: none;
	}
	#menu{
		display: none;
	}
	#footer{
		display: none;
	}
	#content{
		background-color: #fff;
		margin: 0;
	}
	#stat_contr{
		display: none;
	}
}

img{
	width:100%;
}

.loading_img{
	margin:auto; /* Required */
	position:absolute;
	
	left:0;right:0; /* Aligns horizontal center */
	max-height:100%; /* images bigger than 175 px  */
	max-width:100%;  /* will be shrinked to size */ 
}

.search{
	width:100%;
}
body{
	background-image:url('taust.gif');
	background-size:100%;
	
}
#content{
	margin:0 10%;
	padding: 0 1em;
	font-size: 0.9em; 
	line-height: 1.231;
	font-family: sans-serif; 
	background-size:100% 100%;
	background-image:url('taust.png');
	}

#header{
	background-size:contain;
	background-image:url('header.png');
	background-repeat:repeat-x;
	min-height: 5em;
	margin: 0 -1em;
	clear:both;
}

#page_name{
	margin-left: 1em;
	float: left;
	background-color: transparent;
}

#page_name h1{
	color: white;
	text-shadow: 0 0 3px #000;
}

#login{
	margin-right:1em;
	text-align:right;
	float:right;
	background-color: transparent;
}

#footer{
	clear: both;
}

a{
	text-decoration:none;
}
a:link,a:visited{
	color:#000;
}
a:hover{
	color:#444;
}

p {
	padding-left:15px;
	text-align: justify;
}

#main{
	padding:0.5em 0 0;
	clear: both;
}
form li{
	list-style:none;
	margin-bottom:5px;
}
form ul li label{
	float: left;
	clear:left;
	width: 256px;
	text-align:right;
	margin-right:10px;
	
}

/*----------------------------*/
/*----------------------------*/
#table_area{
	min-height: 50px;
}

#statistika table{
	width: 100%;
}
#statistika table, th, td{
	border:1px solid black;
}
#statistika .haaled{
	text-align:right;
}

/*----------------------------*/
/*----------------------------*/

#k_info img, #valija_info img{
	width: auto;
	margin: 0 2em 1em;
	float: right;
}
.info_text_vasakul{
	position: relative;
	min-height: 300px;
	padding-bottom: 3em;
}
.valima{
	margin: 0 2em;
	float: right;
	clear: right;
}
.valima input[type=button]{
}
/*----------------------------*/
/*----------------------------*/

#lisa_kandidaadina li{
	list-style:none;
	margin-bottom:5px;
}

.kandidaat_form p{
	padding-top: 0.25em;
	margin: 0;
	float: left;
	min-width: 17em;
	clear: left;
}

.invalid_input{
	outline-style: solid;
	outline-color: #f00;
	outline-width: 5px;
}

/*----------------------------*/
/*----------------------------*/

#menu ul {
	padding:0 ;
	list-style: none;
	position: relative;
	clear: both;
}
.toproot{
	border-width: 1px;
	border-style:solid;
	border-color:transparent;
	border-radius: 8px;
	margin-right: 0.25em; 
}
#menu ul:after{
	content: "";
	clear: both;
	display: block;
}
#menu ul li {
	background:#704F2E;
	float: left;
	min-width:19%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	text-align:center;	
}
#menu ul li:hover {
	background:#C7D68B;
}
#menu ul li a {
	padding: 0.5em 0.5em 0.5em 0.5em;
	display: block;
	min-width: 30%;
	color:#CCFF99;
}
#menu ul li:hover > a {
	color:#663300;
}
#menu ul ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	display: none;
	opacity: 0.9;
	z-index: 4;
}
#menu ul ul li {
	border: none;
	float: none;
	position: relative;
	min-width: 100%;
}
#menu ul ul li a {
	color:#CCFF99;
	
}
#menu ul ul li a:hover {
	background-color:#C7D68B;
	color: #663300;
}
#menu ul li:hover > ul {
	display: block;
	min-width: 19%
	
}


/*----------------------------*/
/*----------------------------*/

div.poliitik{
	margin: 5px 5px 0;
	min-height: 210px;
	width: 100px;
	float: left;
}
div.poliitik img{
	width: 90px;
	display: inline;
}
div.poliitik p{
	padding: 0;
	text-align: center;
}
input.previous{
	float: left;
	clear: left;
}
input.next{
	margin-bottom: 1em;
	float: right;
	clear: right;
}
div.erakond{
	border-top: 1px solid;
}
#party_tabs ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#party_tabs li {
	display: inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	margin-right: 0.5em;
}
#party_tabs li a {
	padding: 0 1em ;
}
#party_tabs ul .selected_tab {
	padding-bottom: 2px; 
	background: #fff;//#e6f0fd;
}