@charset "utf-8";
/* CSS Document */

@media print{
	#header{
		display: none;
	}
	#menu{
		display: none;
	}
	#footer{
		display: none;
	}
	#content{
		background-color: #fff;
		margin: 0;
	}
	#stat_contr{
		display: none;
	}
}

img{
	width:100%;
}

#googleMap{
	margin-left: 1em;
	height: 450px;
	width: 80%;
}

.mapLabel{
	text-align: center;
	font-size: 10pt;
	width: 50px;
}

.mapLabel-1{
	color: green;
	text-shadow: 0 0 1px #000;
}

.mapLabel-2{
	color: red;
	text-shadow: 0 0 1px #000;
}

.mapLabel-3{
	color: yellow;
	text-shadow: 0 0 1px #000;
}

.mapLabel-4{
	color: blue;
	text-shadow: 0 0 1px #000;
}

.mapLabel-5{
	color: white;
	text-shadow: 0 0 2px #000;
}

.mapLabel-6{
	color: black;
	text-shadow: 0 0 1px #000;
}

.disclamer{
	font: bold 20px Arial,Helvetica,Sans-serif;
	color:red;
}

.loading_img{
	margin:auto; /* Required */
	position:absolute;
	left:0;right:0; /* Aligns horizontal center */
	max-height:100%; /* images bigger than 175 px  */
	max-width:100%;  /* will be shrinked to size */ 
}

.search{
	background:white no-repeat 10px 6px #fcfcfc;
	border: 1px solid #d1d1d1;
	font: bold 12px Arial,Helvetica,Sans-serif;
	color: #bebebe;
	width:80%;
	border-radius: 20px;
	padding:4px 5px 4px 25px;
	font-size:16px;
}
body{
	background-image:url('taust.gif');
	background-size:100%;
	
}
#content{
	margin:0 10%;
	padding: 0 1em;
	font-size: 0.9em; 
	line-height: 1.231;
	font-family: sans-serif; 
	background-size:100% 100%;
	background-image:url('taust.png');
	}

#header{
	background-size:contain;
	background-image:url('header.png');
	background-repeat:repeat-x;
	min-height: 5em;
	margin: 0 -1em;
	clear:both;
}

#page_name{
	margin-left: 1em;
	float: left;
	background-color: transparent;
}

#page_name h1{
	color: white;
	text-shadow: 0 0 3px #000;
}

#login{
	margin-right:1em;
	text-align:right;
	float:right;
	background-color: transparent;

}
input.loginout{
	font: bold 14px Arial,Helvetica,Sans-serif;
	border-radius: 18px;
	border-size: 5px;
	border-color:#E9C64B;
	background-color:#ddc385;
	width:40%;
	padding:4px 5px 4px 5px;
}
#footer{
	clear: both;
}

a{
	text-decoration:none;
}
a:link,a:visited{
	color:#000;
}
a:hover{
	color:#444;
}

p {
	padding-left:15px;
	text-align: justify;
}

#main{
	padding:0.5em 0 0;
	clear: both;
}
form li{
	list-style:none;
	margin-bottom:5px;
}
form ul li label{
	float: left;
	clear:left;
	width: 256px;
	text-align:right;
	margin-right:10px;
	
}
#main input[name=logi_sisse]{
	font: bold 14px Arial,Helvetica,Sans-serif;
	border-radius: 8px;
	border-size: 5px;
	border-color:#E9C64B;
	background-color:#ddc385;
	width:15%;
	padding:1px 2px 1px 2px;
}

/*----------------------------*/
/*----------------------------*/
#stat_contr input[type=button]{
	font: bold 12px Arial,Helvetica,Sans-serif;
	border-radius: 8px;
	border-size: 5px;
	border-color:#E9C64B;
	background-color:#ddc385;
	width:5%;
	padding:1px 2px 1px 2px;
}
#stat_contr input[name=stat_refresh]{
	font: bold 12px Arial,Helvetica,Sans-serif;
	border-radius: 8px;
	border-size: 5px;
	border-color:#E9C64B;
	background-color:#ddc385;
	width:15%;
	padding:1px 2px 1px 2px;

}
#table_area{
	min-height: 50px;
}

#statistika table{
	width: 100%;
}
#statistika table, th, td{
	border:1px solid black;
}
#statistika .haaled{
	text-align:right;
}

/*----------------------------*/
/*----------------------------*/

#k_info img, #valija_info img{
	width: auto;
	margin: 0 2em 1em;
	float: right;
}
.info_text_vasakul{
	position: relative;
	min-height: 300px;
	padding-bottom: 3em;
}
.valima{
	margin: 0 2em;
	float: right;
	clear: right;
}
.valima input[type=button]{
	font: bold 20px Arial,Helvetica,Sans-serif;
	border-radius: 18px;
	border-size: 5px;
	border-color:#E9C64B;
	background-color:#ddc385;
	width:170%;
	padding:6px 8px 6px 8px;

}
/*----------------------------*/
/*----------------------------*/

#lisa_kandidaadina li{
	list-style:none;
	margin-bottom:5px;
}

.kandidaat_form p{
	padding-top: 0.25em;
	margin: 0;
	float: left;
	min-width: 17em;
	clear: left;
}

.invalid_input{
	outline-style: solid;
	outline-color:#FE3F44;
	outline-width: 5px;
}
.kandidaat_form input[type=button]{
	font: bold 12px Arial,Helvetica,Sans-serif;
	border-radius: 8px;
	border-size: 5px;
	border-color:#E9C64B;
	background-color:#ddc385;
	width:5%;
	padding:1px 2px 1px 2px;
}
#submit_kandidaat{
	font: bold 12px Arial,Helvetica,Sans-serif;
	border-radius: 8px;
	border-size: 5px;
	border-color:#E9C64B;
	background-color:#ddc385;
	width:20%;
	padding:1px 2px 1px 2px;

}

/*----------------------------*/
/*----------------------------*/

#menu ul {
	padding:0 ;
	list-style: none;
	position: relative;
	clear: both;
}
.toproot{
	border-width: 1px;
	border-style:solid;
	border-color:transparent;
	border-radius: 8px;
	margin-right: 0.25em; 
}
#menu ul:after{
	content: "";
	clear: both;
	display: block;
}
#menu ul li {
	background:#704F2E;
	float: left;
	min-width:19%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	text-align:center;	
}
#menu ul li:hover {
	background:#C7D68B;
}
#menu ul li a {
	padding: 0.5em 0.5em 0.5em 0.5em;
	display: block;
	min-width: 30%;
	color:#CCFF99;
}
#menu ul li:hover > a {
	color:#663300;
}
#menu ul ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	display: none;
	opacity: 0.9;
	z-index: 4;
}
#menu ul ul li {
	border: none;
	float: none;
	position: relative;
	min-width: 100%;
}
#menu ul ul li a {
	color:#CCFF99;
	
}
#menu ul ul li a:hover {
	background-color:#C7D68B;
	color: #663300;
}
#menu ul li:hover > ul {
	display: block;
	min-width: 19%
	
}


/*----------------------------*/
/*----------------------------*/
div.erakond{
	overflow: hidden;
	/*outline:3px #704F2E solid;*/
	clear: both;
}

div.poliitik{
	margin: 5px 5px 0;
	min-height: 210px;
	width: 100px;
	float: left;
}
div.poliitik img{
	width: 90px;
	display: inline;
}
div.poliitik p{
	padding: 0;
	text-align: center;
}
input.previous{
	float: left;
	clear: left;
	font: bold 14px Arial,Helvetica,Sans-serif;
	border-radius: 18px;
	border-size: 5px;
	border-color:#E9C64B;
	background-color:#ddc385;
	width:10%;
	padding:4px 5px 4px 5px;

}
input.next{
	margin-bottom: 1em;
	float: right;
	clear: right;
	font: bold 14px Arial,Helvetica,Sans-serif;
	border-radius: 18px;
	border-size: 5px;
	border-color:#E9C64B;
	background-color:#ddc385;
	width:10%;
	padding:4px 5px 4px 5px;

}
#party_tabs ul{
	list-style: none;
	padding: 0.5px;
	margin: 0.5px;
}
#party_tabs li {
	float:left;
	background-color:#704F2E;
	border-width: 1px 1px 0 1px;
	position:relative;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
  	-moz-border-radius-topleft: 15px;
  	-moz-border-radius-topright: 15px;
  	border-top-left-radius: 15px;
  	border-top-right-radius: 15px;

}
#party_tabs li a {
	float:left;
	padding: 10px 40px;
	color:#CCFF99;
  	background: #704F2E;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
  	-moz-border-radius-topleft: 15px;
  	-moz-border-radius-topright: 15px;
  	border-top-left-radius: 15px;
  	border-top-right-radius: 15px;

}
#party_tabs .selected_tab {
	z-index: 3;
}
#party_tabs .selected_tab a{
	background-color:#CCFF99;
	color:#704F2E;	
}
#party_tabs li:before, #party_tabs li:after,
#party_tabs li a:before, #party_tabs li a:after{
	position:absolute;
	bottom:0;
}
#party_tabs ul .selected_tab:after, #party_tabs ul .selected_tab:before,
#party_tabs ul .selected_tab a:after, #party_tabs ul .selected_tab a:before{
	content:"";
}
#party_tabs ul .selected_tab:before, #party_tabs ul .selected_tab:after{
	background:#CCFF99;
	z-index:1;
}
#party_tabs li:before, #party_tabs li:after{
	background:#704F2E;
	width:10px;
	height:10px;
}
#party_tabs li:first-child:before, #party_tabs li:last-child:after{
	background:transparent;
	width:10px;
	height:10px;
}

#party_tabs li:before{
	left: -10px;
}
#party_tabs li:after{
	right: -10px;
}
#party_tabs li a:after, #party_tabs li a:before{
	width:20px;
	height:20px;
	-webkit-border-radius: 10px;
  	-moz-border-radius:10px;
  	border-radius:10px;
  	z-index:2;
}
#party_tabs ul .selected_tab a:after{ 
	background:#704F2E;
}
#party_tabs ul .selected_tab a:before{
	background:#704F2E;
}
#party_tabs li:last-child.selected_tab a:after, #party_tabs li:first-child.selected_tab a:before{
	background:transparent;
}
#party_tabs li a:before{
	left:-20px;
}
#party_tabs li a:after{
	right:-20px;
}

.autocomplete-suggestion {
	background: #fcfcfc;
	border: 1px solid #d1d1d1;
	font: bold 12px Arial,Helvetica,Sans-serif;
	color: #bebebe;
	width: 70%;
	padding:4px 5px 4px 25px;
	font-size:16px;
}

.autocomplete-suggestion:hover{
	background: #f0f0f0;
}