@charset "utf-8";
/* CSS Document */

#logi{
	text-align:right;
}
.in{
	float:left;
	color:#01270D;
}
#header{
	background-color:#D8FED3;
	padding:0 1em;
}
#menu{
	background-color:#E6FEE2;
	
	padding:0 1em;
}
#main{
	background-color:#E6FEE2;
	padding:0 1em;
}
#footer{
	background-color:#E6FEE2;
	padding:0 1em;
}
